/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/Redis-Cluster-Fast-*
lib/Redis/Cluster/Fast.c
lib/Redis/Cluster/Fast.xs

src/ppport.h

.idea
CMakeLists.txt
cmake-build-debug
_Deparsed_XSubs.pm
cpanfile.snapshot

deps/build
test

.clang-format
CLAUDE.md